<!--
    {% csrf_token %}

<div class="container">
    <div class="page-header">
        <h1>Welcome to TinDev</h1>
    </div>
</div>

  <div class="container">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter your name" name="name" required><br><br>

    <label for="bio"><b>Bio</b></label>
    <input type="text" placeholder="Enter your bio" name="bio" required><br><br>

    <label for="skills"><b>Skills</b></label>
    <input type="text" placeholder="Enter your skills" name="skills" required><br><br>

    <label for="git_username"><b>Git username</b></label>
    <input type="text" placeholder="Enter github username" name="git_username" required><br><br>

    <label for="years_exp"><b>Years of Experience</b></label>
    <input type="text" placeholder="Enter a number" name="years_exp" required><br><br>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter a username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="psw" placeholder="Enter a password" name="password" required><br>

    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

</form>
</div>
    <br>
    <button>
        Create Account
    </button>
</form>
-->

<form method="POST" action="{% url 'CandidateProfile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <button>
        Create
    </button>
</form>