{% extends "project/post.html" %}
{% block title %}All Job Postings{% endblock %}
<b>
    <h1>"All Job Postings"</h1>
</b>
{% block content %}
    {% if post_list %}
    <b>
        <h1><u>All Job Postings</u></h1>
    </b>
        <ul>
        <form action="/candidate_filter" method="get">
        <label for="d">Filter Posts:</label>
        <select name="filter">
            <option value="all">
                All Posts
            </option>
            <option value="active">
                Active Posts Only
            </option>
            <option value="inactive">
                Inactive Posts Only
            </option>
        </select>

            <label for="Location" name="loc">Location:</label>
            <input type="text" placeholder="City, STATE" name="Location" required="false">
            <label for="keywords" name="key">Keywords:</label>
            <input type="text" placeholder="Keywords" name="keywords" required="false">
            <button type="submit" value="FILTER">
                FILTER
                </button>
        </form>
        <p id="demo">
        </p>
        <p class="printfiltered">
        {% for post in post_list%}
            <li>
                <a href="/Cand/{{ post.id }}/"><b>{{post.position_title}}</b>, 
                   <i>{{post.company}}</i>, 
                   {{post.location}}
                </a>
            </li>
        {% endfor %}
        </p>
        </ul>
    {% else %}
        <p>
            No jobs available.
        </p>
    {% endif %}

    <button type="submit">
        <a href='/candidateDashboard/'>Back</a>
        </button>
{% endblock %}