<!DOCTYPE html>
<html lang="en">    
    <head>

        <nav>
            <div> 
                <a href="/candidateDashboard/" >Candidate Dashboard</a>     
                <a href="/candidateViewPosts/" >All Posts</a>    
                <a href="/candidateOffers/" >View Offers</a>           
                <a href="/logout/" >Logout</a>
            </div>
        </nav>
        <title>
            {% block title %}Default title{% endblock %}
        </title>
        {% load static %}
      <!--  <script src="{% static "filter.js" %}" type="text/javascript"></script>-->
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
