{% extends "project/post.html" %}
{% block title %}All Job Postings{% endblock %}
<b>
    <h1>"All Job Postings"</h1>
</b>
{% block content %}
    {% if post_list %}
    <b>
        <h1><u>All Interested Postings</u></h1>
    </b>
        <ul>
        {% for post in post_list%}
            <li>
                <a href="/Cand/{{ post.id }}/"><b>{{post.position_title}}</b>, 
                   <i>{{post.company}}</i>, 
                   {{post.location}}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No jobs are available.</p>
    {% endif %}
    <button type="submit">
        <a href='/candidateDashboard/'>Back</a>
        </button>

{% endblock %}