{% extends "project/base_cand.html" %}
{% block title %}All Offers{% endblock %}
<b>
    <h1>"All Offers"</h1>
</b>
{% block content %}
    {% if offer_list %}
    <b>
        <h1><u>All Offers</u></h1>
    </b>
        <ul>
        {% for offer in offer_list%}
            <a href="/Cand/offer/{{ offer.id }}/"><b>{{offer.postOff.position_title}}</b>, 
                <i>{{offer.postOff.company}}</i>, 
                ${{offer.salary_info}}, {{offer.due_date}} <br>
            </a>
                   <!-- {{offer.salary_info}}, 
                   {{offer.due_date}} -->
        {% endfor %}
        </p>
        </ul>
    {% else %}
        <p>
            No offers available.
        </p>
    {% endif %}

    <button type="submit">
        <a href='/candidateDashboard/'>Back</a>
        </button>
{% endblock %}