<div class="container">
    <div class="page-header">
        <h1>Create a Job Post</h1>
    </div>
  </div>
  
  <form method="POST" action="{% url 'CreatePost' %}" enctype="multipart/form-data">
    <div class="container">
        {{form}}
        
      <!--DO NOT REMOVE!! THIS IS NECESSARY FOR THE FORM TO WORK!!!-->
      <!--SEE https://docs.djangoproject.com/en/4.1/howto/csrf/#using-csrf-->
      {% csrf_token %} 
  
    </div>
    {%if error%}
      Error: {{error}}
    {%endif%}
  
      <br>
      <button type="submit">
          Create Post
      </button>
  </form>