<!DOCTYPE html>
<html>

<head>
    <title>Faculty at the CSE department</title>
    <script type="text/javascript" src="filter.js"></script>
</head>

<body>
    <h1>CSE faculty</h1>
    <label for="position">Choose a title:</label>
    <select id="position-filter" name="position">
        <option value="1">Assistant Professor</option>
        <option value="2">Associate Professor</option>
        <option value="3">All</option>
    </select>
    <button onclick="applyPositionFilter()">Filter by Position</button>
    <div class="entry-content">
    {% if post_list %}
    <b>
        <h1><u>All Job Postings</u></h1>
    </b>
        <ul>
        {% for post in post_list%}
            <li>
                <a href="/{{ post.id }}/">{{post.position_title}}, 
                   <i>{{post.company}}</i>, 
                   {{post.location}}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No jobs are available.</p>
    {% endif %}
    </div>

</body>

</html>