<!--

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}

-->

<div class="container">
  <div class="page-header">
      <h1>Log In</h1>
  </div>
</div>

<div class="container">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter your username" name="username" required>

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter your password" name="password" required>

</div>
{%if error%}
  Error: {{error}}
{%endif%}

  <br>
  <button>
      Login
  </button>
