<div class="container">
  <div class="page-header">
      <h1>Log In</h1>
  </div>
</div>

<form action="/candidateDashboard/">
  <div class="container">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter your username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter your password" name="password" required>


  </div>
  {%if error%}
    Error: {{error}}
  {%endif%}

    <br>
    <button type="submit">
        Login
    </button>
</form>
