
{% block title %}{{ post.title}}{% endblock %}
{% block content %}
	<body> 
		<nav>
            <div> 
                
                <a href="/recruiterDashboard/" >Recruiter Dashboard</a>      
                <a href="/create_post/" >Create Post</a>          
                <a href="/recruiterViewAllPosts/" >All Posts</a>    
                <a href="/login/" >Logout</a>
            </div>
        </nav>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<h1>{{post.position_title}}</h1>
		<p2> 
			<b>Company: </b>
			<i>{{post.company}}</i>
		
		</p2>
		<br><br>
		<p3>
			<b>Position Type: </b>
			{{post.position_type}}
		</p3><br>
		<br><b>Job location:</b>
		<p4>{{post.location}}</p4><br><br>
		<p5><b>
			Preferred Skils:
		</b>{{post.preferred_skills}}</p5><br><br>	 
		<b>
			Description:
		</b>{{post.description}}</p5><br><br>	 
		<b>
			Expiration Date:
		</b>{{post.expiration_date}}</p5><br><br>	 
		<b>
			Status:
		</b>{{post.status}}</p5><br><br>
			{% if post.likes.all %}
			<b>
			<!-- add number of candidates here  -->

			Interested Candidates: 

			</b> {{post.likes.all.count}}
			<br>
			(Click to send an offer)<br>
			{% for candidate, score in post.scores.items %}
				
				<ul>
				<button type="submit"> <a href='/offer/{{post.id}}/{{candidate.id}}/'>{{candidate.name}}</a></button> Compatibility: {{score.0}}<br>
				
				

				</ul>
				{% endfor %}
			{% else %}
				<p>No interested candidates.</p>
			{% endif %} 
		</p5><br><br><br>

		<button type="submit">
			<a href='/edit/{{post.id}}/'>Edit Post</a>
		</button>
		<button type="submit">
			<a href='/delete/{{post.id}}/'>Delete Post</a>
	   </button>
	   <br><br>

	   <button type="submit">
        <a href='/recruiter_filter/'>Back</a>
        </button>

	   
{% endblock %}


