    {% csrf_token %}

<div class="container">
    <div class="page-header">
        <h1>Welcome to TinDev</h1>
    </div>
</div>

  <div class="container">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter your name" name="name" required>

    <label for="company"><b>Company</b></label>
    <input type="text" placeholder="Enter your company" name="company" required>

    <label for="zipcode"><b>Zipcode</b></label>
    <input type="text" placeholder="Enter your zipcode" name="zipcode" required>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter your username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="psw" placeholder="Enter your password" name="password" required><br>
    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

</form>
</div>
    <br>
    <button>
        Create Account
    </button>
<!--</form>-->