
{% extends "project/post.html" %}<b>
    <head>
        <title>Job Postings</title>
    </head>
</script>
</b>
{% block content %}
    {% if post_list %}
        <b>
            <h1>
                <u>Job Postings</u>
            </h1>
        </b>
        <ul>
            <br>
            <form action="/recruiter_filter" method="get">
            <label for="d">Filter Posts:</label>
            <select name="filter">
                <option value="all">
                    All Posts
                </option>
                <option value="active">
                    Active Posts Only
                </option>
                <option value="inactive">
                    Inactive Posts Only
                </option>
                <option value="interested_cands">
                    Posts with at least 1 interested Candidate
                </option>
            </select>
            <button type="submit" value="FILTER">
                FILTER
                </button>
            </form>
            <p id="demo">
            </p>
            <p class="printfiltered">
                {% for post in post_list%}
                <li>
                    <a href="/Rec/{{ post.id }}/"><b>{{post.position_title}}</b>,
                <i>{{ post.company }}</i>,
            {{ post.location }}
        </a>
    </li>
    {% endfor %}
   
</p>
</ul>
{% else %}
<p>
    No job posts.
</p>
{% endif %}

<button type="submit">
    <a href='/recruiterDashboard/'>Back</a>
    </button>
{% endblock %}
<!--
<script id="replace_with_navbar" src="nav.js"></script>
	<!- Import's Bootstrap JS -
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script type="text/javascript" src="filter.js"></script>
-->