<!-- The Modal -->

<div class="container">
    <div class="page-header">
        <h1>Welcome to TinDev</h1>
    </div>
</div>
<!-- Modal Content -->


<form class="modal-content animate" action="/action_page.php">

  <div class="container">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter your name" name="name" required>

    <label for="bio"><b>Enter your bio</b></label>
    <input type="text" placeholder="Enter your bio" name="bio" required>

    <label for="skills"><b>Skills</b></label>
    <input type="text" placeholder="Enter your skills" name="skills" required>

    <label for="git_username"><b>Git username</b></label>
    <input type="text" placeholder="Enter your github username" name="git_username" required>

    <label for="years_exp"><b>Years of Experience</b></label>
    <input type="text" placeholder="Enter your years of experience" name="years_exp" required>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter your username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="psw" placeholder="Enter your password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

</form>
</div>
