{% extends "project/post.html" %}
{% block title %}All Job Postings{% endblock %}
<b>
    <h1>"All Job Postings"</h1>
</b>
{% block content %}
    {% if post_list %}
    <b>
        <h1><u>All Job Postings</u></h1>
    </b>
        <ul>
        {% for post in post_list%}
            <li>
                <a href="/{{ post.id }}/">{{post.position_title}}, 
                   <i>{{post.company}}</i>, 
                   {{post.location}}
                </a>
            </li>
        {% endfor %}
        <br>
        <label for="d">Filter Posts:</label>
        <select name="filter" id="filter">
        <option value="all">All Posts</option>
        <option value="active">Active Posts Only</option>
        <option value="inactive">Inactive Posts Only</option>
        <option value="interested">Posts with at least 1 interested Candidate</option>
        </select>  
        <button onclick="myFunction()">Filter</button>
        <p id="demo"></p>

        <script>
            function myFunction() {
              var x = document.getElementById("filter").options[0].text;
              document.getElementById("demo").innerHTML = x;
            }
        
            </script>
        </ul>
    {% else %}
        <p>No jobs are available.</p>
    {% endif %}

{% endblock %}

